@mixin section-header {
    display: flex;
    align-items: center;
    height: 74px;
    padding: 0 5vw;
    font-size: 2.0rem;
    background-color: var(--bg-color);
    z-index: 100;
}
@mixin section-inner {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 2vw 5vw;
}

@mixin pc {
  @media (min-width: 769px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}