@use '../../styles/mixins' as *;

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 30px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    &.isVisible {
        transform: translateY(0);
        opacity: 1;
    }
    .headerInner {
        display: flex;
        justify-content: space-between;
        padding: 0.5vw 5vw;
        font-size: 1.2rem;
        align-items: center; 
    }

    .nav {
        display: flex;
        align-items: center;
        
        .navUl {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 3rem;
            padding: 0;
            margin: 0;
            li:not(:last-child){
                @include mobile {
                    display: none;
                }
            }
            a {
                text-decoration: none;
                color: var(--text-color);
            }
            
        }
    }
}